.calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.react-calendar__tile{
  border-radius: 6px;
  border-style: double;
  padding: 0.2em;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  border: 0;
  background: #432f64;
  color: #ffffff;
  border-radius: 6px;
}
.pCal {
  text-align: center;
}

@media screen and (min-width: 768px) {
    .pCal{
        font-size: 130%;
    }
}
