// selection photos

.filterCam{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
}

// conteneur photos

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

.containerPic {
  width: calc(100vw - 4rem);
  display: flex;
  flex-direction: column;
}

.gridpics {
  width: calc(100vw - 4rem);
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  grid-template-rows: repeat(3, auto);
  justify-content: center;
}

.alonecard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 250px;
}

.alonecard img {
  width: 200px;
}

.picButton {
  display: flex;
  justify-content: center;
  cursor: pointer;
  margin: 0 0.5em;
  background: #1c0444;
  border: none;
  padding: .5em 1em;
  border-radius: 4em;
}

.picButton img{
  padding: 0;
}
.picButton img:first-child {
  padding-right: .5em;
}

.picButton img:last-child{
  padding-left: .5em;
}
