@import "./variables.scss";

.mainTitle {
  align-self: center;
}

.picButton {
  display: flex;
  justify-content: center;
  cursor: pointer;
  margin: 0 0.5rem;
  background: #1c0444;
  border: none;
  padding: 0.5rem;
  border-radius: 4rem;
  img {
    max-width: 90%;
    height: auto;
  }
}

.buttonContainer {
  max-width: 91%;
  height: auto;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}

.intropage {
  max-width: 90%;
  height: auto;
  padding: 0.5em;
  flex-direction: column;
  background-color: $primary-color;
}

.introCalendar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.epicEventSelector {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  width: 80vw;
  max-width: 400px;
}

.epiccalendar {
  max-width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5em;
  background-color: $primary-color;
  p {
    align-self: center;
    margin: 0;
    padding: 0em 0em 0.4em 0em;
  }
}

.epicEventDiaporama {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.epicDiaporama {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.epicpics {
  margin: 0;
  max-width: 90%;
  background-color: black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.epicimg {
  max-width: 88%;
  height: auto;
  padding: 0;
}

@media screen and (min-width: 1000px) {
  .introCalendar {
    flex-direction: row;
    justify-content: center;
    margin: 0 3em 0 3em;
  }
  .epiccalendar {
    border-radius: 1em;
  }
  .intropage {
    margin-right: 2em;
    max-width: 750px;
    border-radius: 1em;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .epicpage {
    left: 4rem;
    font-size: 120%;
  }

  .epicpics {
    border-radius: 1em;
  }

  .epicpics {
    max-width: 75%;
    height: auto;
    .epicimg {
      max-width: 70%;
      height: auto;
      padding: 0;
    }
  }
}
