@import "./variables.scss";

.mainTitle {
  align-self: center;
}

.picButton {
  display: flex;
  justify-content: center;
  cursor: pointer;
  margin: 0 0.5em;
  background: #1c0444;
  border: none;
  padding: 0.5em 1em;
  border-radius: 4em;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}

.intropage {
  padding: 0.5rem;
  margin: 1rem;
  background-color: $primary-color;
}

.introCalendar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.Calendar {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  margin: 1rem;
  background-color: $primary-color;
  p {
    align-self: center;
    margin: 0;
    padding: 0rem 0rem 0.4rem 0rem;
  }
}

@media screen and (min-width: 768px) {
  .introCalendar {
    flex-direction: row;
  }
  .gridpics {
    margin-left: 2.5em;
    margin-right: 2.5em;
  }
}
