@import "./App.scss";

.funfactlist {
  z-index: 20;
  margin: 0 25%;
  width: 60%;
  .funfact {
    & > img {
      width: 50px;
      padding-right: 0.5em;
    }
    height: 5rem;
    background-color: rgb(254, 254, 255);
    filter: opacity(0.7);
    transition: filter 0.4s ease-in-out;
    border-radius: 7px;
    font-family: $font-text;
    padding: 0 1rem 0 1rem;
    font-size: medium;
    font-weight: 600;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    p {
      color: rgb(237, 30, 72);
      font-size: x-large;
      font-weight: bold;
      margin-top: 0;
      margin-bottom: 0;
      text-overflow: clip;
      height: 1em;
    }

    & > div {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding-left: 10px;
    }
  }

  .funfact:hover {
    filter: opacity(0.9);
  }
}

@media screen and (min-width: 810px) {
  .funfactlist {
    align-self: end;
    width: initial;
    margin: 0 4em;
  }
}
