.navbarContainer {
  background-color: #432f64;
  display: flex;
  justify-content: space-between;
  height: 3.5rem;
}

.navbar{
  width:17rem;
  display: flex;
  justify-content: space-around;
}

.logo {
  width: 2.5rem;
  padding: 0.5rem;
}

.planete-icone {
  width: 2.5rem;
  margin: 0.5rem 0;
}

.login {
  width: 2.5rem;
  padding: 0.5rem;
}



@media screen and (min-width:767.98px) {
  .navbarContainer{
    flex-direction:column;
    justify-content: flex-start;
    align-items: center;
    width: 4rem;
    height: 100vw;
    position:fixed;
  }
  
  .navbar {
    flex-direction:column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 29rem;
    margin-top:7rem;
  }

  .ongletContainer {
    background-color: #432f64;
    width: 12rem;
    height: 2.5rem;
    border: solid 1.5px black;
    border-image: linear-gradient(360deg, rgba(251,68,29,1) 0%, rgba(254,190,60,1) 100%);
    border-image-slice: 1;
    padding: 1px;
    text-align:center;
    font-size: 0.7rem;
    color: rgba(254,190,60,1);
    // a enlever, juste pour faire des tests
    margin-left: 200px; 
  }
}
