.navbar{
    background-color: #432F64;
    display:flex;
    justify-content: space-between;
}

.logo{
    width: 2.5rem;
    padding: 0.5rem;
}

.planete-icone{
    width:2rem;
    padding: 0.5rem;
}

.icones{
    display:flex;
    justify-content: space-around;
}

.login{
    width: 2.5rem;
    padding: 0.5rem;
}