@import "./variables.scss";

.mainTitle {
  font-family: $font-title;
  font-size: $title-size;
  color: #ffffff;
  z-index: 10;
  user-select: none;

  @media screen and (min-width: 768px) {
    order: -1;
    margin-left: 30px;
  }
}

.natTitle {
  text-align: center;
}
