$primary-color: hsla(260, 34%, 28%, 0.831);;
$nav-primary-color: #432f64;
$box-shadow : rgba(0, 0, 0, 0.35) 0px 5px 15px;

@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap");

/* Fonts */
@font-face {
  font-family: "Space Age";
  src: url("../assets/space-age.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

$font-text: "Space Grotesk", sans-serif;
$font-title: "Space Age", sans-serif;

$title-size: clamp(2.2rem, 5.5vw, 5.5rem);
