@import "./App.scss";
@import "./variables.scss";

* {
  box-sizing: border-box;
}

.lien{
  text-decoration: none;
}

.grille {
  margin-top: 10px;
  width:80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vertical{
  width: 80%;
  display: flex;
  justify-content: center;
}

.widgetsContainer {
  margin-top: 40px;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.widgetDynamique {
  display: grid;
  gap: 10px;
  width: auto;
}

.widgetStatique {
  margin-top: 10px;
  width: auto;
}

.widgetVertical {
  margin-top: 10px;
  width: auto;
}

.widget {
  color: #ffffff;
  padding: 1rem;
  border-radius: 10px;
  background-color: #1c0444;
  display: flex;
  align-items: center;
  font-family: $font-text;
  user-select: none;
  height: 10rem;
}

.texteImgWidget {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.textLogo {
  width: 3rem;
  display: flex;
  align-items: center;
}

.image-widget {
  padding: 0;
  border-radius: 5px;
  margin-left: 60%;
  width: 27%;
}

.logoWidget {
  padding-right: 20%;
  padding-left: 1rem;
}

.imglogo {
  width: 50px;
  padding-right: 0.5em;
}

article {
  z-index: 10;
}

h3 {
  color: white;
}

h3:hover {
  color: $primary-color-full-opacity;
}

@media screen and (min-width: 767.98px){

  article {
    color: #ffffff;
    padding: 0rem;
    margin: 0;
    border-radius: 10px;
    background-color: #1c0444;
    cursor: pointer;
    transition: transform 0.4s ease-in-out;
    box-shadow: $box-shadow;
    z-index: 10;
    border: 2px solid #fb461d00;
  }

  article:hover {
    transform: scale(1.05);
    transition: transform 0.4s ease-in-out;
    box-shadow: 0 0 7px #1c0444, 0 0 10px #1c0444, 0 0 42px $primary-color,
      0 0 77px $primary-color, 0 0 80px white;
      z-index: 15;
  }

  h3:hover{
    color: $nav-secondary-color;
  }

  .widgetDynamique {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: auto;

    .widget {
      display: flex;
      flex-direction: column;
      height: 25rem;
      z-index: 19;

      .texteImgWidget {
        display: flex;
        flex-direction: column;
        
        .textLogo {
          display: flex;
          flex-direction: column;
          margin-bottom:25%;
        }
      }
    }
    .image-widget {
      margin: 0;
      width: 70%;
    }

    .imageWidget {
      display: flex;
      justify-content: center;
    }

    .logoWidget {
      padding: 0;
    }
  }

  .grille {
    margin-top: 0;
    width:80%;
    z-index: 15;
  }
  

  .widgetStatique {
    margin-top: 10px;
    width: auto;
    .widgetStatique:hover{
      z-index: 20;
    }

    .widget {
      height: 15rem;

      .image-widget {
        width: 40%;
        z-index: 10;
      }
    }
  }

  .widgetsContainer {
    margin-bottom: 7rem;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    z-index:10;
  }

  .widgetVertical {
    width: auto;
    margin: 0;
    margin-right:10px;
    .widgetVertical:hover{
      z-index:30;
    }
    .widget {
      display: flex;
      flex-direction: column;
      height: 40.9rem;

      .texteImgWidget {
        display: flex;
        flex-direction: column;

        .textLogo {
          display: flex;
          flex-direction: column;
          margin-bottom: 4rem;
        }
      }
    }
    .image-widget {
      margin: 0;
      width: 70%;
    }

    .imageWidget {
      display: flex;
      justify-content: center;
    }

    .logoWidget {
      padding: 0;
      margin-bottom: 3.5rem;
    }
}
}
  
@media screen and (min-width:767.98px) and (max-width:1160px){


  .widgetsContainer{
    margin-left: 25%;
    display:flex;
    flex-direction:column;
    width: 80%;
  }

  .widgetVertical{
    margin-top: 10px;
    width: auto;
    margin-bottom: 10px;
    margin-right:0;

    .widget {
      height: 15rem;
      .texteImgWidget{
        flex-direction: row;
        .textLogo{
          flex-direction: row;
          align-items: center;
          margin:0;
          .logoWidget{
            margin:0;
            padding-right: 4rem;
            padding-left: 1rem;
          }
          h3{
            margin:0;
          }
        }
        .imageWidget{
          display: flex;
          justify-content: flex-end;
      .image-widget {
        width: 40%;
      }
    }
    }
    }
  }
}

