@import "./App.scss";

* {
  box-sizing: border-box;
}

.widgetsContainer {
  margin-top: 20px;
  width: 100vw;
  background-color: #432f64;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.widget {
  margin: 10px;
  color: #ffffff;
  padding: 1rem;
  border-radius: 10px;
  background-color: #1c0444;
  display: flex;
  justify-content: center;
  font-family: $font-text;
  text-align: center;
  align-items: center;
}

img {
  width: 50px;
  padding-right: 0.5em;
}

@media screen and (min-width: 767.98px) {
  .widgetsContainer {
    margin-top: 20px;
    width: 60%;
    background-color: #432f64;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-gap: 10px;
  }

  article {
    color: #ffffff;
    padding: 0rem;
    margin: 0;
    border-radius: 10px;
    background-color: #1c0444;
    cursor: pointer;
    transition: 0.3s;
  }

  article:hover {
    transform: scale(1.05);
    transition: 3s;
    border: 1px solid #f310f3;
  }
  .widget {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
