* {
  box-sizing: border-box;
}

.widgetsContainer {
  margin: auto;
  margin-top: 20px;
  width: 100vw;
  background-color: #432f64;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.widget {
  margin: 10px;
  color: white;
  padding: 1rem;
  width: 20rem;
  border-radius: 10px;
  background-color: #1c0444;
  cursor: pointer;
  display: flex;
  justify-content: center;  
}

/*

.widgetsContainer {
  margin-top: 20px;
  width: 100%;
  background-color: #432f64;
  border: 2px solid red;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 300px);
}

.widget {

  color: white;
  padding: 1rem;
  width: 20rem;
  border-radius: 10px;
  background-color: #1c0444;
  cursor: pointer;
  transition: 0.3s;
}

.widget:hover {
  transform: scale(1.05);
  transition: 3s;
  border: 1px solid #f8f5f5;
}

@media screen and (max-width: 767.98px) {
  .widget:hover {
    transform: none;
    border: none;
  }
} */

/* 
.widget:hover {
  transform: scale(1.05);
  transition: 3s;
  border: 1px solid #f8f5f5; */