@import "./App.scss";

* {
  box-sizing: border-box;
}

.grille{
  margin-top: 10px;
}

.widgetsContainer {
  margin-top: 40px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.widgetDynamique {
  display: grid;
  gap: 10px;
  width: 30rem;
}

.widgetStatique {
  margin-top: 10px;
  width: 30rem;
}

.widgetVertical {
  margin-top: 10px;
  width: 30rem;
}

.widget {
  color: #ffffff;
  padding: 1rem;
  border-radius: 10px;
  background-color: #1c0444;
  display: flex;
  align-items: center;
  font-family: $font-text;
  user-select: none;
  height: 10rem;
}

.texteImgWidget {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.textLogo {
  width: 3rem;
  display: flex;
  align-items: center;
}

.image-widget {
  padding: 0;
  border-radius: 5px;
  margin-left: 15rem;
  width: 30%;
}

.logoWidget {
  padding-right: 3rem;
  padding-left: 1rem;
}

.imglogo {
  width: 50px;
  padding-right: 0.5em;
}

article {
  z-index: 10;
}

h3 {
  color: white;
}

h3:hover {
  color: $primary-color-full-opacity;
}

@media screen and (min-width: 767.98px) {
  article {
    color: #ffffff;
    padding: 0rem;
    margin: 0;
    border-radius: 10px;
    background-color: #1c0444;
    cursor: pointer;
    transition: transform 0.4s ease-in-out;
    box-shadow: $box-shadow;
    z-index: 10;
    border: 2px solid #fb461d00;
  }

  article:hover {
    transform: scale(1.05);
    transition: transform 0.4s ease-in-out;
    box-shadow: 0 0 7px #1c0444, 0 0 10px #1c0444, 0 0 42px $primary-color,
      0 0 77px $primary-color, 0 0 80px white;
  }

  .widgetDynamique {
    display: grid;
    grid-template-columns: 300px 300px;
    width: auto;

    .widget {
      display: flex;
      flex-direction: column;
      height: 25rem;

      .texteImgWidget {
        display: flex;
        flex-direction: column;

        .textLogo {
          display: flex;
          flex-direction: column;
        }
      }
    }
    .image-widget {
      margin: 0;
      width: 90%;
    }

    .imageWidget {
      display: flex;
      justify-content: center;
    }

    .logoWidget {
      padding: 0;
    }
  }

  .grille {
    margin-top: 0;
  }

  .widgetStatique {
    margin-top: 10px;
    width: 38.2rem;

    .widget {
      height: 15rem;

      .image-widget {
        width: 54%;
      }
    }
  }

  .widgetsContainer {
    margin-bottom: 7rem;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }


  .widgetVertical {
    width: 28rem;
    margin-right: 10px;
    margin-top:0;

    .widget {
      display: flex;
      flex-direction: column;
      height: 40.8rem;

      .texteImgWidget {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .image-widget {
          margin: 0;
          margin-top: 6rem;
          width: 90%;
        }
        .imageWidget {
          display: flex;
          justify-content: center;
        }

        .textLogo {
          display: flex;
          flex-direction: column;
          .logoWidget {
            padding: 0;
            .imglogo {
              padding: 0;
              margin-bottom: 3rem;
              margin-top: 2rem;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1160px) {
  .widgetsContainer {
    margin-top: 40px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: flex;
  }

  .widgetVertical{
    height: 20rem;
    margin-bottom:15px;
    .widget{
      height: 20rem;
      .texteImgWidget {
        display: flex;
        flex-direction: column;
        justify-content: center;
      .image-widget {
        margin: 0;
        width: 50%;
    }
    .textLogo {
      display: flex;
      flex-direction: column;
      .logoWidget {
        padding: 0;
        .imglogo {
          padding: 0;
          margin-bottom: 1rem;
          margin-top: 1rem;
  }
  }
}
      }
      }
    }
  }